.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__icon {
  padding: 20px;
  color: gray;
}

.header__logo {
  width: 30px;
  height: 40px;
  object-fit: contain;
}
.header__noIcon {
  padding: 50px;
}
